In [16]:
import pandas as pd
import numpy as np

"""
vehicle_id STRING 车辆唯一标志码
charge_start_time INT 充电开始时间
charge_end_time INT 充电结束时间
mileage FLOAT 充电开始时刻车辆仪表里程（km）
charge_start_soc INT 充电开始时刻动力电池 SOC
charge_end_soc INT 充电结束时刻动力电池 SOC
charge_start_U FLOAT 充电开始时刻动力电池总电压（V）
charge_end_U FLOAT 充电结束时刻动力电池总电压（V）
charge_start_I FLOAT 充电开始时刻动力电池总电流（A）
charge_end_I FLOAT 充电结束时刻动力电池总电流（A）
charge_max_temp FLOAT 充电过程中电池系统温度探针最大值（℃）
charge_min_temp FLOAT 充电过程中电池系统温度探针最小值（℃）
charge_energy FLOAT 此充电过程的充电能量（kWh）
"""

data = pd.read_csv('data/predict_data_e_train.csv')
data[data == 0] = np.nan
data.head()

,vehicle_id,charge_start_time,charge_end_time,mileage,charge_start_soc,charge_end_soc,charge_start_U,charge_end_U,charge_start_I,charge_end_I,charge_max_temp,charge_min_temp,charge_energy
0,1,20171101113839,20171101144639,69054.6,61.2,90.0,367.8,377.3,-7.7,-7.8,21.0,16.0,9.071
1,1,20171101212850,20171102045945,69180.2,34.0,100.0,363.4,400.6,-7.7,-7.7,19.0,15.0,21.745
2,1,20171102121246,20171102154916,69284.2,54.0,87.2,367.4,377.0,-7.7,-7.8,23.0,17.0,10.434
3,1,20171102204546,20171103025825,69377.0,46.0,100.0,366.6,399.0,-7.7,-7.8,21.0,16.0,17.990
4,1,20171103164054,20171103170824,69431.6,75.2,97.2,372.8,385.8,-29.9,-40.1,18.0,15.0,6.990

In [17]:
# 找出缺失值的列
data.isnull().any()

vehicle_id           False
charge_start_time    False
charge_end_time      False
mileage              False
charge_start_soc      True
charge_end_soc        True
charge_start_U       False
charge_end_U          True
charge_start_I       False
charge_end_I          True
charge_max_temp       True
charge_min_temp       True
charge_energy         True
dtype: bool

In [18]:
# 填充缺失值的列
data['charge_start_soc'].fillna(data['charge_start_soc'].mean(), inplace=True)
data['charge_end_soc'].fillna(data['charge_end_soc'].mean(), inplace=True)
data['charge_start_U'].fillna(data['charge_start_U'].mean(), inplace=True)
data['charge_end_U'].fillna(data['charge_end_U'].mean(), inplace=True)
data['charge_start_I'].fillna(data['charge_start_I'].mean(), inplace=True)
data['charge_end_I'].fillna(data['charge_end_I'].mean(), inplace=True)
data['charge_max_temp'].fillna(data['charge_max_temp'].mean(), inplace=True)
data['charge_min_temp'].fillna(data['charge_min_temp'].mean(), inplace=True)

data['charge_energy'].fillna(data['charge_energy'].mean(), inplace=True)

In [19]:
num = len(data)
data.sample(frac=1)
train = data[:int(num*0.7)]
test = data[int(num*0.7):]
print(num, len(train), len(test))#charge_energy

2782 1947 835

In [20]:
selected_features = ['vehicle_id',
                     'charge_start_time', 'charge_end_time',
                     'mileage',
                     'charge_start_soc', 'charge_end_soc',
                     'charge_start_U','charge_end_U',
                     'charge_start_I', 'charge_end_I',
                     'charge_max_temp', 'charge_min_temp']

X_train = train[selected_features]
X_test = test[selected_features]
y_train = train['charge_energy']
y_test = test['charge_energy']

In [21]:
# 特征向量化
from sklearn.feature_extraction import DictVectorizer
dict_vec = DictVectorizer(sparse=False)

X_train = dict_vec.fit_transform(X_train.to_dict(orient='record'))
X_test = dict_vec.transform(X_test.to_dict(orient='record'))

In [22]:
# 随机森林回归模型预测
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

![title](0.png)

In [23]:
y_pred = list(y_pred)
y_test = list(y_test)

In [24]:
e = 0
for a, r in zip(y_test, y_pred):
    e = ((r- a) / float(a)) ** 2

e

0.095943785333719639

![title](创新组.png)

In [25]:
test = pd.read_csv('data/testA.csv')
test.head()

,vehicle_id,charge_start_time,charge_end_time,mileage,charge_start_soc,charge_end_soc,charge_start_U,charge_end_U,charge_start_I,charge_end_I,charge_max_temp,charge_min_temp
0,1,20171116161033,20171116170903,71710.6,44.0,90.8,370.5,383.9,-29.8,-40.1,21.0,13.0
1,1,20171210190533,20171210193743,75816.9,34.0,60.4,365.1,379.9,-25.9,-40.4,14.0,9.0
2,1,20180104213535,20180105042334,79867.3,39.2,100.0,364.0,399.9,-7.6,-7.8,11.0,2.0
3,1,20180215211935,20180216051456,86867.6,28.8,NaN,362.9,399.9,-7.6,-7.6,8.0,3.0
4,2,20180525192134,20180526025112,67266.3,35.0,99.0,350.8,397.0,-9.4,-5.0,32.0,27.0

In [26]:
# 找出缺失值的列
test.isnull().any()

vehicle_id           False
charge_start_time    False
charge_end_time      False
mileage              False
charge_start_soc     False
charge_end_soc        True
charge_start_U       False
charge_end_U         False
charge_start_I       False
charge_end_I         False
charge_max_temp      False
charge_min_temp      False
dtype: bool

In [27]:
# 填充缺失值的列
test['charge_end_soc'].fillna(test['charge_end_soc'].mean(), inplace=True)

In [28]:
x = dict_vec.transform(test[selected_features].to_dict(orient='record'))
y = model.predict(x)

In [29]:
ids = list(test['vehicle_id'])
len(ids)

27

In [30]:
with open('submit-A_张彬城_暨南大学_15521106350_20181009.csv', 'w') as f:
    f.write('vehicle_id,charge_energy\n')
    for _id, _y in zip(ids, y):
        line = '%d,%d\n' % (_id, _y)
        f.write(line)