In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('./track_data.csv')
data[data == 0] = np.nan
data.isnull().any()

time          False
state          True
GPS_lon        True
GPS_lat        True
vehicle_id    False
dtype: bool

In [3]:
#data[data == 0] = np.nan
data.tail()

                   time  state     GPS_lon    GPS_lat  vehicle_id
2019376  20180630205033    1.0  109.032992  34.354523           2
2019377  20180630205043    1.0  109.033025  34.354503           2
2019378  20180630205053    1.0  109.033060  34.354556           2
2019379  20180630205103    1.0  109.033071  34.354556           2
2019380  20180630205113    1.0  109.033081  34.354546           2

In [4]:
v1=data[(data.vehicle_id==1)&(data.time>=20180505003414)&(data.time<=20180520172231)]
v2=data[(data.vehicle_id==2)&(data.time>=20180103003659)&(data.time<=20180416091822)]
v3=data[(data.vehicle_id==3)&(data.time>=20171023235404)&(data.time<=20171204015011)]
v4=data[(data.vehicle_id==4)&(data.time>=20171021174303)&(data.time<=20171122161235)]
v1_2=v1[1:]
v2_2=v2[1:]
v3_2=v3[1:]
v4_2=v4[1:]
v1=v1[:-1].reset_index(drop=True)
v2=v2[:-1].reset_index(drop=True)
v3=v3[:-1].reset_index(drop=True)
v4=v4[:-1].reset_index(drop=True)
v1

                 time  state     GPS_lon    GPS_lat  vehicle_id
0      20180505003414    2.0  117.267576  31.766736           1
1      20180505003444    2.0  117.267576  31.766736           1
2      20180505003514    2.0  117.267576  31.766736           1
3      20180505003544    2.0  117.267576  31.766736           1
4      20180505003614    2.0  117.267576  31.766736           1
5      20180505003644    2.0  117.267576  31.766736           1
6      20180505003714    2.0  117.267576  31.766736           1
7      20180505003744    2.0  117.267576  31.766736           1
8      20180505003814    2.0  117.267576  31.766734           1
9      20180505003844    2.0  117.267576  31.766734           1
10     20180505003914    2.0  117.267576  31.766732           1
11     20180505003944    2.0  117.267576  31.766734           1
12     20180505004014    2.0  117.267576  31.766732           1
13     20180505004044    2.0  117.267576  31.766732           1
14     20180505004114    2.0  117.267584  31.766730           1
15     20180505004144    2.0  117.267584  31.766730           1
16     20180505004214    2.0  117.267584  31.766730           1
17     20180505004244    2.0  117.267584  31.766730           1
18     20180505004314    2.0  117.267584  31.766730           1
19     20180505004344    2.0  117.267584  31.766730           1
20     20180505004414    2.0  117.267584  31.766730           1
21     20180505004444    2.0  117.267584  31.766728           1
22     20180505004514    2.0  117.267584  31.766728           1
23     20180505004544    2.0  117.267584  31.766728           1
24     20180505004614    2.0  117.267584  31.766728           1
25     20180505004644    2.0  117.267584  31.766728           1
26     20180505004714    2.0  117.267584  31.766728           1
27     20180505004744    2.0  117.267584  31.766728           1
28     20180505004814    2.0  117.267584  31.766728           1
29     20180505004844    2.0  117.267584  31.766728           1
...               ...    ...         ...        ...         ...
39970  20180520170431    1.0  117.231888  31.833516           1
39971  20180520170501    1.0  117.236288  31.833156           1
39972  20180520170531    1.0  117.239712  31.832670           1
39973  20180520170601    1.0  117.239712  31.832662           1
39974  20180520170631    1.0  117.241168  31.832532           1
39975  20180520170701    1.0  117.243632  31.832334           1
39976  20180520170731    1.0  117.245392  31.832060           1
39977  20180520170801    1.0  117.245408  31.832058           1
39978  20180520171001    1.0  117.250480  31.832172           1
39979  20180520171031    1.0  117.251744  31.832096           1
39980  20180520171101    1.0  117.251960  31.832238           1
39981  20180520171131    1.0  117.250440  31.832300           1
39982  20180520171231    1.0  117.247616  31.832158           1
39983  20180520171301    1.0  117.247216  31.832168           1
39984  20180520171331    1.0  117.246560  31.832176           1
39985  20180520171431    1.0  117.251936  31.832056           1
39986  20180520171501    1.0  117.254840  31.831736           1
39987  20180520171531    1.0  117.257376  31.831372           1
39988  20180520171601    1.0  117.258216  31.831062           1
39989  20180520171631    1.0  117.258216  31.831052           1
39990  20180520171701    1.0  117.258216  31.831052           1
39991  20180520171731    1.0  117.258216  31.831052           1
39992  20180520171801    1.0  117.258216  31.831052           1
39993  20180520171831    1.0  117.258216  31.831052           1
39994  20180520171901    1.0  117.258216  31.831052           1
39995  20180520171931    1.0  117.258216  31.831052           1
39996  20180520172001    1.0  117.258184  31.830908           1
39997  20180520172031    1.0  117.257336  31.829632           1
39998  20180520172131    1.0  117.256152  31.827992           1
39999  20180520172201    1.0  117.254112  31.825256           1

[40000 rows x 5 columns]

In [5]:
#data["GPS_lon"].tail()

In [6]:
#print(90-v1["GPS_lon"])
#test=np.pi/2*1000000-Aw*1000000
#print(test)
#print(np.sin(np.pi/2))

In [7]:
Bw1=v1_2["GPS_lat"]
Bj1=v1_2["GPS_lon"]
Aw1=v1["GPS_lat"]
Aj1=v1["GPS_lon"]
Bw1=Bw1.reset_index(drop = True)
Bj1=Bj1.reset_index(drop=True)
Aw1=Aw1.reset_index(drop=True)
Aj1=Aj1.reset_index(drop=True)

Bw2=v2_2["GPS_lat"]
Bj2=v2_2["GPS_lon"]
Aw2=v2["GPS_lat"]
Aj2=v2["GPS_lon"]
Bw2=Bw2.reset_index(drop = True)
Bj2=Bj2.reset_index(drop=True)
Aw2=Aw2.reset_index(drop=True)
Aj2=Aj2.reset_index(drop=True)

Bw3=v3_2["GPS_lat"]
Bj3=v3_2["GPS_lon"]
Aw3=v3["GPS_lat"]
Aj3=v3["GPS_lon"]
Bw3=Bw3.reset_index(drop = True)
Bj3=Bj3.reset_index(drop=True)
Aw3=Aw3.reset_index(drop=True)
Aj3=Aj3.reset_index(drop=True)

Bw4=v4_2["GPS_lat"]
Bj4=v4_2["GPS_lon"]
Aw4=v4["GPS_lat"]
Aj4=v4["GPS_lon"]
Bw4=Bw4.reset_index(drop = True)
Bj4=Bj4.reset_index(drop=True)
Aw4=Aw4.reset_index(drop=True)
Aj4=Aj4.reset_index(drop=True)
cosc=np.cos(np.pi/2-Bw1)*np.cos(np.pi/2-Aw1)+np.sin(np.pi/2-Bw1)*np.sin(np.pi/2-Aw1)*np.cos(Bj1-Aj1)
#cosc
c=np.arccos(cosc)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:38: RuntimeWarning: invalid value encountered in arccos

"""""""""""
import math
a = Bw - Aw;#两点纬度之差
b = Bj - Aj #经度之差
s = 2 * math.asin(math.sqrt(math.pow(math.sin(a / 2), 2) + math.cos(Lat1) * math.cos(Lat2) * math.pow(Math.sin(b / 2), 2)));#计算两点距离的公式
s = s * 6378137.0;#弧长乘地球半径（半径为米）
s = math.round(s * 10000.0) / 10000.0;#精确距离的数值
""""""""""""""""""


第一步：计算三个参数:

    经度差值dx=x2-x2

    纬度差值dy=y2-y1

    平均纬度 b =(y1+y2)*0.5

第二步，计算东西方向距离和南北方向距离(单位：米)

 东西距离采用三阶多项式，南北采用一阶多项式即可

东西距离Lx = (0.05 * b*b*b - 19.16 * b*b + 47.13 * b + 110966 ) * dx

南北距离Ly = (17 * b + 110352) * dy

 

    第三步，用平面的方长形对角距离公式计算总距离：

      总距离 = sqrt ( Lx * Lx + Ly * Ly)

In [267]:
#代码
dx1=Bj1-Aj1
dy1=Bw1-Aw1
b1=(Bw1+Aw1)*0.5
Lx1 = (0.05 * b1*b1*b1 - 19.16 * b1*b1 + 47.13 * b1 + 110966 ) * dx1
Ly1 = (17 * b1 + 110352) * dy1
result1=np.sqrt ( Lx1 * Lx1 + Ly1 * Ly1)
Sum1=result1.sum()

dx2=Bj2-Aj2
dy2=Bw2-Aw2
b2=(Bw2+Aw2)*0.5
Lx2 = (0.05 * b2*b2*b2 - 19.16 * b2*b2 + 47.13 * b2 + 110966 ) * dx2
Ly2 = (17 * b2 + 110352) * dy2
result2=np.sqrt ( Lx2 * Lx2 + Ly2 * Ly2)
Sum2=result2.sum()

dx3=Bj3-Aj3
dy3=Bw3-Aw3
b3=(Bw3+Aw3)*0.5
Lx3 = (0.05 * b3*b3*b3 - 19.16 * b3*b3 + 47.13 * b3 + 110966 ) * dx3
Ly3 = (17 * b3 + 110352) * dy3
result3=np.sqrt ( Lx3 * Lx3 + Ly3 * Ly3)
Sum3=result3.sum()

dx4=Bj4-Aj4
dy4=Bw4-Aw4
b4=(Bw4+Aw4)*0.5
Lx4 = (0.05 * b4*b4*b4 - 19.16 * b4*b4 + 47.13 * b4 + 110966 ) * dx4
Ly4 = (17 * b4 + 110352) * dy4
result4=np.sqrt ( Lx4 * Lx4 + Ly4 * Ly4)
Sum4=result4.sum()

Sum1*0.001

371991.36153272656

In [268]:
Sum2*0.001

6991997032.678625

In [269]:
Sum3*0.001

4259.795353055333

In [270]:
Sum4*0.001

5502.152326294079

In [246]:
#sinc=np.sqrt(1-np.square(cosc))

In [247]:
#A=np.arcsin((np.sin(90-v1_2["GPS_lat"])*np.sin(Bj=v1_2["GPS_lon"]-v1[:-1]["GPS_lon"]))/sinc)