In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('./track-submit_张彬城_暨南大学_15521106350_20181102.csv')
data.head()

   vehicle_id  track_mileage
0           1    8758.683075
1           2   10062.505643
2           3   21575.069219
3           4     502.448796
4           5   16443.300540

imagicnum        date
 none            11.02
 1.074           11.05
 none+randomchange 11.06
 1.084           11.08

In [6]:
data=data*1.0843

In [7]:
data

    vehicle_id  track_mileage
0       1.0843    9497.040058
1       2.1686   10910.774869
2       3.2529   23393.847554
3       4.3372     544.805230
4       5.4215   17829.470776
5       6.5058   24631.443642
6       7.5901   24256.502225
7       8.6744   29560.970266
8       9.7587   29189.203965
9      10.8430   29059.630552
10     11.9273   26807.668284
11     13.0116   33279.269597

In [9]:
df = pd.DataFrame({'vehicle_id': [1,2,3,4,5,6,7,8,9,10,11,12], 'track_mileage': data['track_mileage']})
df = df[['vehicle_id', 'track_mileage']]
df.to_csv('./track-submit_张彬城_暨南大学_15521106350_20181108.csv', index=False)